@import './utils/include';

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: $font-sm;
  font-weight: 300;
  color: $grayishBlue;
  line-height: 1.3;
  overflow-x: hidden;
  min-height: 300vh;

  @include breakpoint-up(large){
    font-size: $font-md;
  }

  &.noscroll {
    overflow: hidden;
  }
}

h1, h2, h3 {
  font-weight: 300;
  color: $darkBlue;
  line-height: 1.15;
  margin-top: 0;
}

h1 {
  font-size: 2.3125rem;
  margin-bottom: 1.5rem;

  @include breakpoint-up(large){
    font-size: $font-xl;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;

  @include breakpoint-up(large){
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;

  @include breakpoint-up(large){
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a, a:visited, a:hover {
  color: $grayishBlue;
  text-decoration: none;
}

//Spacing
.container {
  max-width: 70rem;
  margin: 0 auto;

  &--p-all {
    padding-top: $y-content-padding;
    padding-right: $x-content-padding;
    padding-bottom: $y-content-padding;
    padding-left: $x-content-padding;

    @include breakpoint-up(large){
      padding-top: $large-y-content-padding;
      padding-bottom: $large-y-content-padding;
    }
  }
  &--py {
    padding-top: $y-content-padding;
    padding-bottom: $y-content-padding;

    @include breakpoint-up(large){
      padding-top: $large-y-content-padding;
      padding-bottom: $large-y-content-padding;
    }
  }
  &--px {
    padding-right: $x-content-padding;
    padding-left: $x-content-padding;
  }
  &--pt {
    padding-top: $y-content-padding;

    @include breakpoint-up(large){
      padding-top: $large-y-content-padding;
    }
  }
  &--pr {
    padding-right: $x-content-padding;
  }
  &--pb {
    padding-bottom: $y-content-padding;

    @include breakpoint-up(large){
      padding-bottom: $large-y-content-padding;    
    }
  }
  &--pl {
    padding-left: $x-content-padding;
  }
}

//Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

}

// Buttons
button, .button {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  border: 0;
  font-family: 'Public Sans', 'sans-serif';
  border-radius: 50px;
  cursor: pointer;
  padding: 0.875rem 2.1875rem;
  font-size: $font-sm;
  color:white;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff7b;
    border-radius: 50px;
    opacity: 0;
    transition: opacity 150ms ease-in-out;

  }

  &:hover::before {
    opacity: 1;
  }

  &:hover {
    box-shadow: 0 8px 25px -8px $brightCyan;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium){
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large){
    display: none;
  }
}
