// Colors
$darkBlue: #2d314d;
$limeGreen: #31d35c;
$brightCyan: #2bb7da;
$grayishBlue: #9698a6;
$lightGrayishBlue: #f3f4f6;
$veryLightGray: #fafafa;
$white: #ffffff;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xl: 3.25rem;

$content-margin: 1.5rem;
$content-padding: 1.5rem;